.brand-logo{
	font-family:  roboto;
		font-size:  21px !important;
	font-style: italic;
	opacity: .7;
}
.nav-wrapper{
	background-color: #0067a3;
}
.style1{
	width:100%;
	height: 10px;
	background-color: #1565c0;

}
body{
background-color: #0079bf; 
}
nav{
	height: 40px !important;
	line-height: 30px !important;
}
 .main-container{
 	display: flex;
 	flex-direction:row;
 	justify-content:space-around;
 	margin-top: 50px;

 }
 .inputbox{
 	background-color: #0D47A1;
 	color:white;

 }
 .inputbox:hover{
	 opacity: .9;
	 background-color: #0D47A1;
 }
 .add-task{
 	width: 15%;

 }
 .todo{
 	width:15%;
 	background-color: #E2E4E6;
	 border-radius: 14px;
	 height: 423px;
overflow: auto;
	 box-shadow: 3px 3px 5px 6px #0067a3;
 }
 
 .cards-heading{
 	font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
 	font-weight: bold;
 	margin: 0px !important;
 	padding: 5px;
 }
 ul li{
display: flex;
flex-direction: column;
justify-content: space-between;
	 background-color: white;
	 margin: 6px;
	 border-radius: 11px;
 }
 ul{
	 min-height: 400px;
	
 }
 body{
	font-family: 'Baloo Bhaijaan', cursive;
	
 }
 .mainLoginInput::-moz-placeholder {
	font-family: 'Baloo Bhaijaan', cursive;
}
ul li:hover{
	opacity: .6;
}
.done ul li{
	background-color: #80cbc4;
}
.inreview ul li{
	background-color: #ffb74d;
}
.inprogress ul li{
	background-color: #ef6c00 ;
}